<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MiCasa</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
  
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="javascripts/module.js"></script>
  <script type="text/javascript" src="javascripts/routes.js"></script>
  <script type="text/javascript" src="javascripts/controllers/alert-ctrl.js"></script>
  <script type="text/javascript" src="javascripts/controllers/master-ctrl.js"></script>
  
</head>
<body ng-controller="MasterCtrl">
<section layout="row" layout-fill flex>
	<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">
      <md-toolbar class="material-theme-light material-medium-tall">
        <h1 class="md-toolbar-tools">DanHome</h1>
      </md-toolbar>
	  <md-content>
		<!-- CONTENIDO DEL SIDENAV -->
		
		<md-list flex>
			<md-list-item ng-click="null" g-click="go(dashboard.url)">
				<p> {{ dashboard.name }} </p>
				<md-icon md-svg-icon="{{dashboard.iconUrl}}" ></md-icon>
			</md-list-item>
			
			<md-divider></md-divider>
			<md-subheader class="md-no-sticky">{{rooms.name}}</md-subheader>
			<md-list-item ng-repeat="room in rooms.items" ng-click="go(room.url)" >
				<p> {{ room.name }} </p>
				<md-icon md-svg-icon="{{room.iconUrl}}" ></md-icon>
			</md-list-item>

			<md-divider></md-divider>
			<md-list-item ng-click="null" g-click="go(settings.url)">
				<p> {{ settings.name }} </p>
				<md-icon md-svg-icon="{{settings.iconUrl}}" ></md-icon>
			</md-list-item>
			
		</md-list>
		
	  </md-content>
    </md-sidenav>

	<md-content flex>      
		<!-- TOOLBAR -->
		<md-toolbar class="material-theme-light material-medium-tall">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Menu" hide-gt-md>
				  <md-icon md-svg-icon="images/menu.svg" ></md-icon>
				</md-button>
			<h2>
			<span>Toolbar</span>
			</h2>
			<span flex></span>
			<md-menu  md-position-mode="target-right target">
			  <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
				<md-icon md-svg-icon="images/avatar.svg" ></md-icon>
			  </md-button>
			  <md-menu-content width="2">
				<md-menu-item ng-repeat="item in [1, 2, 3]">
				  <md-button > <span md-menu-align-target>Option</span> {{item}} </md-button>
				</md-menu-item>
			  </md-menu-content>
			</md-menu>        
			</div>
		</md-toolbar>
	
			<!-- CONTENIDO -->
		<div layout-padding ui-view></div>

     
    </md-content>
	</section>
</body>
</html>
