<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>RDash AngularJS</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
  
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="javascripts/module.js"></script>
  <script type="text/javascript" src="javascripts/routes.js"></script>
  <script type="text/javascript" src="javascripts/directives/loading.js"></script>
  <script type="text/javascript" src="javascripts/directives/widget.js"></script>
  <script type="text/javascript" src="javascripts/directives/widget-body.js"></script>
  <script type="text/javascript" src="javascripts/directives/widget-footer.js"></script>
  <script type="text/javascript" src="javascripts/directives/widget-header.js"></script>
  <script type="text/javascript" src="javascripts/controllers/alert-ctrl.js"></script>
  <script type="text/javascript" src="javascripts/controllers/master-ctrl.js"></script>
  
</head>
<body ng-controller="MasterCtrl">
<section layout="row" flex>
	<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4">
      <md-toolbar class="material-theme-light material-medium-tall">
        <h1 class="md-toolbar-tools">DanHome</h1>
      </md-toolbar>
	  <md-content layout-padding ng-controller="LeftCtrl">
		<!-- CONTENIDO DEL SIDENAV -->      
	  </md-content>
    </md-sidenav>

	<md-content flex>      
	
		<md-toolbar class="material-theme-light material-medium-tall">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Menu" hide-gt-md>
				  <md-icon md-svg-icon="images/menu.svg" ></md-icon>
				</md-button>
			<h2>
			<span>Toolbar</span>
			</h2>
			<span flex></span>
			<md-menu  md-position-mode="target-right target">
			  <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
				<md-icon md-svg-icon="images/avatar.svg" ></md-icon>
			  </md-button>
			  <md-menu-content width="2">
				<md-menu-item ng-repeat="item in [1, 2, 3]">
				  <md-button > <span md-menu-align-target>Option</span> {{item}} </md-button>
				</md-menu-item>
			  </md-menu-content>
			</md-menu>        
			</div>
		</md-toolbar>
	
		
		<div layout-padding ui-view></div>

     
    </md-content><!-- End Content Wrapper -->
	</section>
</body>
</html>
